{% extends 'main.twig' %}
  {% block content %}
    <strong>About</strong>
    <h2>Grumpy Cat</h2>

    <p>Grumpy Cat <em>(born April 4, 2012)</em> better known by her Internet name "Grumpy Cat", is a cat and Internet celebrity known for her grumpy facial expression. Her owner, Tabatha Bundesen, says that her permanently grumpy-looking face is due to an underbite and feline dwarfism. Grumpy Cat's popularity originated from a picture posted to the social news website Reddit by Bundesen's brother Bryan on September 22, 2012. It was made into an image macro with grumpy captions. As of December 10, 2014, "The Official Grumpy Cat" page on Facebook has over 7 million "likes". Grumpy Cat was featured on the front page of The Wall Street Journal on May 30, 2013, and on the cover of New York magazine on October 7, 2013. In August 2015 it was announced that Grumpy Cat would get her own animatronic waxwork at Madame Tussauds in San Franscisco.</p>

    <p>Emerson gradually moved away from the religious and social beliefs of his contemporaries, formulating and expressing the philosophy of Transcendentalism in his 1836 essay, Nature. Following this ground-breaking work, he gave a speech entitled "The American Scholar" in 1837, which Oliver Wendell Holmes, Sr. considered to be America's "Intellectual Declaration of Independence".</p>

    <p>The Bundesens say that Tardar Sauce's face appears grumpy because the feline has a form of dwarfism. She and her brother Pokey were born to normal parents with "a flat face, bubble eyes, and a short tail". Tardar Sauce is undersized and has hind legs that "are a bit different". Although she has a grumpy expression on her face and is called "Grumpy Cat", according to the Bundesens, Tardar Sauce is a normal cat "99% of the time".</p>

    <p>Ben Lashes is Grumpy Cat's manager who also represents Keyboard Cat and Nyan Cat. Tabatha Bundesen took a leave of absence from her day job at Red Lobster to manage Grumpy Cat's schedule while Bryan Bundesen manages the Grumpy Cat website, Facebook, YouTube and Twitter accounts.</p>

    <p><em>Learn more about Grumpy Cat from <a href="https://en.wikipedia.org/wiki/Grumpy_Cat">Wikipedia</a></em></p>

  {% endblock content %}
